<body class="{{ page.title | downcase | handleize }}">

{% if page.title == 'About' %}

    <header>
      <div class="nav-container">

        {% include logo.html %}

        {% include nav.html %}

      </div>
      <div class="video-container">
        <video autoplay loop muted>
          <source src="{{ page.header_video_file }}" type="video/mp4">
        </video>
      </div>
    </header>

    <button id="menu-toggle">Menu</button>

{% else %}

  <button id="menu-toggle">Menu</button>

{% endif %}
