{% include head.html %}

{% include header.html %}

<div class="wrapper">

  <div class="container">

    <div class="flex-grid">
      <div class="col-half">
        {{ content }}
      </div>
      <div class="col-half push-left">
        {{ page.partner_block_text | markdownify }}
        <img class="logos" src="/assets/images/SD_logo_block_white.svg" />
      </div>
    </div>

  </div>

</div>

<div id="about"></div>
{% for section in page.sections %}

  <div class="container centered">

  {% if section.section_position == "left" %}

      <div class="flex-grid">
        <div class="col-half">
          <h1>{{ section.section_title}}</h1>
        </div>
        <div class="col-half push-left">
          {{ section.section_text | markdownify }}
        </div>
      </div>

      {% if section.section_image != nil %}
        <img src="{{ section.section_image }}" alt=" " title=" " {% if section.is_bw == true %}class="grayscale"{% endif %} />
      {% endif %}

  {% else %}

      <div class="flex-grid right-to-left">
        <div class="col-half">
          {{ section.section_text | markdownify }}
        </div>
        <div class="col-half push-left">
          <h1>{{ section.section_title }}</h1>
        </div>
      </div>

      {% if section.section_image != nil %}
        <img src="{{ section.section_image }}" alt=" " title=" " {% if section.is_bw == true %}class="grayscale"{% endif %} />
      {% endif %}

  {% endif %}

  {% unless forloop.last %}
    <hr>
  {% endunless %}

  </div>

{% endfor %}

{% include footer.html %}
