{% include head.html %}

{% include header.html %}

<div class="container centered">

  <div class="flex-grid right-to-left">
    <div class="col-three-quarters">
      {{ content }}
    </div>
  </div>

  {% assign sorted_people = page.people %}
  {% for linked_person in sorted_people %}
    {% for person in site.people %}
      {% if linked_person.person == person.title %}

        <div class="flex-grid right-to-left">
          <div class="col-three-quarters">
            <h3>{{ person.title }}: {{ person.role }}</h3>
            {{ person.content }}
          </div>
          <div class="col-one-quarter push-left">
            {% if person.image != nil %}
              <img src="{{ person.image }}" alt=" " title=" " {% if person.is_bw == true %}class="grayscale"{% endif %} />
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}

</div>

{% include footer.html %}
