{% include head.html %}

{% include header.html %}

  {% for section in page.sections %}

  <div class="container centered">

    {% if section.section_text != '' and section.section_text != null %}

      <div class="flex-grid">
        <div class="col-half">
          {{ section.section_title | markdownify }}
        </div>
        <div class="col-half push-left">
          {{ section.section_text | markdownify }}
        </div>
      </div>

    {% else %}

      <div class="container">
        <h1 class="section-title">{{ section.section_title }}</h1>
      </div>

    {% endif %}

  </div>

    {% assign sorted_work = (site.work | sort:"position") %}
    {% for work in sorted_work %}

    <div class="container centered">

      <div class="flex-grid">
        <div class="col-one-quarter">
          <h2>{{ work.title }}</h2>
        </div>
        <div class="col-three-quarters push-left">
          {{ work.content }}
        </div>
      </div>

    </div>

    {% endfor %}

  {% endfor %}

{% include footer.html %}
